.drag-drop-box {
  border: 1px dotted #111115;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.nft-image-preview {
  margin-bottom: 30px;
  max-width: 600px;
  height: 300px;
}
